:root {
  --primary:              #F22539;
  --primary-oscuro:       #b40f2d;
  --secondary:            #BFBFBF;
  --gold:                 #ECA539;
  --cicle-background:     #F5F5F5;
  --black:                #000000;
  --white:                #ffffff;
  --red-pokeball:         #EF4036;
  --background-app:       #E5E5E5;
  --input-placeholder:    #8a8892;
  --input-color:          #1e124d;
  --background-scrollbar: #F5F5F5;
}