:root {
  --primary: #F22539;
  --primary-oscuro: #b40f2d;
  --secondary: #BFBFBF;
  --gold: #ECA539;
  --cicle-background: #F5F5F5;
  --black: #000000;
  --white: #ffffff;
  --red-pokeball: #EF4036;
}